<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springcloud.dao.OrderMapper">
    <resultMap id="baseResultMap" type="com.company.springcloud.domain.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="count" property="count"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
    </resultMap>
    <!--添加订单,初始订单总是未完成0-->
    <insert id="createOrder" parameterType="com.company.springcloud.domain.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order ( user_id, product_id, count, money, STATUS )
        VALUES
            (#{userId},#{productId},#{count},#{money},0)
    </insert>
    <!--修改订单状态-->
    <update id="changeOrderStatus" >
        UPDATE t_order
        SET STATUS = #{after} WHERE id=#{orderId} AND status=#{before}
    </update>


</mapper>